$storeFont:"Monotype Corsiva";
$talkFont:"Lucida Handwriting";
$baseFont:"Verdana";

$darkBack:#222831;
$greyBack:#393e46;
$flairColor:#d65a31;
$lightBack:#eeeeee;

$valiantBlue:#2A6374;
$radiantWhite:#FFFFF1;
$darkHorse:#090F1D;
$goldenMoment:#D1BB68;
$championSteel:#8B8E85;

$confirmGreen:#77dd77;
$rejectRed:#dd7777;

$paperBG:"./images/roughPaper.png";
$shelvedIcon:'../images/shelved.png';
$unshelvedIcon:'../images/unshelved.png';

$breakpoint-tablet: 768px;




.shelveButton{
  background-color:$confirmGreen;
  padding-left:3rem;
  position:relative;

  .buttonIcon{
    height:2.5rem;
    width:2.5rem;
    position:absolute;
    left:0;
    top:0;
    background-repeat: no-repeat;
    background-size:100% 100%;
  }
  .shelvedIcon{
    background-image:url($shelvedIcon);

  }
  .unshelvedIcon{
    background-image:url($unshelvedIcon);

  }
}

.unshelveButton{
  background-color:$rejectRed;
}



#reportArea{
  height:98vh;
  width:80vw;
  margin-left:10vw;
  /* Background pattern from Toptal Subtle Patterns */
  //background-image: url($paperBG);
  background-size: cover;
  background-color:$lightBack;
  overflow-y:scroll;

  #activeReview{
    white-space: pre-wrap;
    margin-left: 3%;
    width: 90%;
    font-size:1.3em;
    font-family:$baseFont;
  }
  .bookmarkShadow{
    &:hover{
       filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

    }
    &:active{
       filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

    }
  }

  .permaShadow{
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  }

  .bookmarkReview{
    display:flex;
    clip-path: polygon(0% 0%, 100% 0, 97% 51%, 100% 100%, 0% 100%);
    height:12rem;
    width:90%;
    margin-left:3%;
    background-color:$greyBack;
    color:$radiantWhite;
    cursor:pointer;



    .ratingBox{
      display:flex;
      flex-direction: column-reverse;
      height:100%;
      width:5%;
      border:1px solid grey;
      border-top-left-radius: 5%;
      border-bottom-left-radius: 5%;

      .ratingStar{
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        width:100%;
        height:20%;
      }
    }
    .bookCover{
      background-size:contain;
      height:100%;
      width:12rem;
      border-left:2px solid black;
      background-repeat: no-repeat;
      background-position: center;
    }
    .infoSegment{

      .textRow{
        height:9rem;
        padding-left: 1em;
        padding-right: 2em;
        overflow:auto;
      }
      .buttonRow{
        display:flex;
        border-top:1px solid black;
        height:3rem;

      }
    }

  }
}

@media only screen and (max-width: 1100px) {
  #reportArea{
    width:90vw;
    margin-left:5vw;
  }
}

@media only screen and (max-width: 850px) {
  #reportArea{
    width:100vw;
    margin-left:0vw;
  }
}

.hoverFlow {
  overflow: hidden;
}

.hoverflow:hover {
  overflow: auto;
}

#tabRow{
  width:100%;
  height:10%;
  min-height:50px;
  display:flex;
  flex-wrap:wrap;
  //border:2px solid black;
  // position:absolute;
  // bottom:0;
  .tabButton{
    font-family:$storeFont;
    font-size:2em;
    // background-color:$valiantBlue;
    // border:none;
    background-color: $darkHorse;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:$radiantWhite;
    flex-grow:1;
  }

  .tabButton:hover{
    color:$goldenMoment;
    font-weight:bold;
  }

}

#alertBanner {
  height: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  color: white;
  transition: height 2s;
  font-size:1.5em;
}

.activeAlert {
  height: 2em !important;
}

#shopBanner {
  height: 15vh;
  background-color: #222831;
  overflow: hidden;
}

#shopBanner #bannerImage {
  background-image: url("https://img.icons8.com/clouds/100/000000/ace-of-spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 4px groove #393e46;
}

#shopBanner #bannerTitle {
  font-size: 5vh;
  font-family: "Monotype Corsiva";
  color: #d65a31;
}

#shopBanner #bannerTagline {
  font-size: 2vh;
  font-family: "Lucida Handwriting";
  color: #d65a31;
}

#footer {
  background-color: $darkBack;
  color:$radiantWhite;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

body {
  background-image: url("../images/bookBackground.jpg");
  background-size: cover;
  font-family: "Verdana";
}

body button:hover {
  cursor: pointer;
}





.badge {
  line-height: 1.1;
  padding: 0.2em 0.2em;
  border: 2px solid black;
  background-color: #eeeeee;
  color: black;
}

.hidden {
  display: none;
}

.closableDiv {
  position: relative;
}

.closeButton {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: grey;
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1548289539/icons8-delete-48.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  transition: opacity 0.5s;
  z-index: 5;
}

.closableDiv:hover .closeButton {
  opacity: 1;
}

.closeButton:hover {
  cursor: pointer;
}

.filterToggle {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  height: 0;
  top: 50%;
}

.filterToggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.filterToggle label {
  background-color: grey;
  border-radius: 5%;
  -webkit-box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.filterToggle input:checked + label {
  background-color: #d65a31;
  outline-style: groove;
  outline-color: white;
  outline-width: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.gridTile {
  border: 2px solid black;
  width: 10%;
  height: 100%;
  background-size: 100% 100%;
  background-color: #393e46;
}

.gridTile.activeTile {
  border: 2px groove white;
}

.gridTile:hover {
  cursor: pointer;
}

/*# sourceMappingURL=sample.css.map */

/*# sourceMappingURL=sample.scss.map */
